@using Soccer.Shared.FutDb

<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="data:image/png;base64,@(Convert.ToBase64String(Player.Image))" style="max-width:150px" alt="@Player.Name">
	<div class="card-body">
		<h5 class="card-title">@GetName()</h5>
        <p class="card-text">
            <div class="d-flex p-6"><small>Anni: @Player.Age</small></div>
            <div class="d-flex p-6"><small>Compleanno: @Player.BirthDate.ToString("yyyy/MM/dd")</small></div>
            <div class="d-flex p-6"><small>Piede: <i>@Player.Foot</i></small></div>
            <div class="d-flex p-6"><small>Valore: @Player.Rating</small></div>
            <div class="d-flex p-6"><small>Position: @Player.Position</small></div>
        </p>
	</div>
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    string GetName()
    {
        if (!string.IsNullOrEmpty(Player.CommonName)) 
            return Player.CommonName;

        return $"{Player.FirstName} {Player.LastName}";
    }
}
